body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url(Images/danceFloor.jpg);
  font-size: 18px;
  overflow: hidden;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid rgb(55, 0, 255);
  border-radius:10px;
  position:absolute;
}

.bouncy{
  width: 0px;
  height: 0px;
  border-right: 60px solid transparent;
  border-top: 60px solid rgb(246, 255, 0);
  border-left: 60px solid rgb(246, 255, 0);
  border-bottom: 60px solid rgb(246, 255, 0);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

.bouncy:hover{
  border-color: purple;
} */

.spinny:hover{
  border-color:aqua;
}

.blinky:hover{
  border-color: orange;
}

.spinny{
  width: 100px;
  height: 100px;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.bouncy {
  --width: 300px;
  --x-speed: 2s;
  --transition-speed: 2.2s;
  overflow-x: hidden;
}

.x {
  animation: x var(--x-speed) linear infinite alternate;
}


@keyframes x {
  100% {
    transform: translateX(calc(0vw - var(--width)));
  }
}
